.About {
    padding: 20px;
    padding-top: 80px;
    height: 100vh;
}

.education-img {
    width: 100%;
    height: 200px;
    border: 1px solid red;
}

.education-img img {
    width: 100%;
    height: 100%;
}

.EducationCard {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.EducationImg {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.EducationImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.EducationCardRight {
    width: 60%;
    padding: 10px 20px;
}